Flask==2.0.3
Werkzeug==2.0.3
nltk==3.7
transformers==4.18.0
PyPDF2==2.10.0
summa==1.2.0
sumy==0.10.0

#Create a virutal environment and use " pip install -r requirements.txt "
# python3 -m venv venv
# source venv/bin/activate
# pip install flask
# pip install -r requirements.txt
